.home-brands-main {
    width: 100%;
    height: 22vw;
    background-color: #121212;
    padding: 2.4vw;
}

.home-brands {
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-brands-slider {
    border: 0.16vw solid #F1CD6C;
    width: 80vw;
    height: 13vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.home-brands-logo {
    width: 10vw;
    text-align: center;
}

.slick-next:before,
.slick-prev:before {
    content: '';
}

.home-brands-prev-btn-icon {
    font-size: 2vw;
}