.home-about-us-main {
    width: 100%;
    height: 39vw;
    background-color: #121212;
    padding: 2.4vw;
}

.home-about-us-content {
    width: 100%;
    height: 28vw;
    background-color: #F1CD6C;
    margin: 1vw 0;
    display: flex;
    border: 0.16vw solid #F1CD6C;
}

.home-about-us-content-header {
    width: 65%;
    height: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-about-us-content-header-inside {
    width: 90%;
    height: 80%;
}

.home-about-us-content-content {
    width: 35%;
    height: 100%;
    background-color: #F1CD6C;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.home-about-us-content-pic {
    width: 23vw;
}

.home-about-us-content-header-title {
    font-size: 2vw;
    font-weight: 600;
    color: #F1CD6C;
}

.home-about-us-header-content {
    font-size: 1.4vw;
    color: #fff;
    line-height: 3vw;
}