.home-brands-main {
    width: 100%;
    height: 30vw;
    background-color: #121212;
    padding: 2.4vw;
}

.home-brands-header {
    width: 100%;
    height: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-brands-header-title {
    border-bottom: 0.16vw solid #F1CD6C;
    font-size: 1.4vw;
    color: #F1CD6C;
    cursor: context-menu;
}

.home-brands-content {
    margin: 1vw 0;
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-brands-content-btn {
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home-brands-content-btn-chevron {
    color: #121212;
    font-size: 2.5vw;
    font-weight: 600;
}

.home-content-brands {
    border: 0.16vw solid #F1CD6C;
    width: 83%;
    height: 77%;
    display: flex;
    align-items: center;
}

.home-content-brands-img {
    height: 90%;
    margin: 1vw;
}