.new-products-category-header {
    height: 3vw;
    margin: 1vw;
    padding: 1vw;
    font-size: 1.4vw;
    color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.25s;
    user-select: none;
}

.new-products-category-header-p {
    margin: 0;
}

.new-products-category-header:hover {
    cursor: pointer;
    transition: 0.25s;
}

.new-products-category-content {
    overflow-y: hidden;
    height: 24vw;
    margin-top: -1vw;
}

.new-products-category-ul {
    height: 20vw;
    color: #fff;
    transition: 0.25s;
    /* display: none; */
    transform: translateY(-23vw);
}

.new-products-category-li {
    list-style: none;
    text-transform: capitalize;
    line-height: 3vw;
    font-size: 1.1vw;
    color: #fff;
    text-decoration: none;
    outline: none;
    transition: 0.25s;
}

.new-products-category-li:hover {
    cursor: pointer;
    color: #F1CD6C;
    transition: 0.25s;
}